<h3>Comments</h3>
<% @post.comments.each do |comment|  %>
  <div class="card card-body bg-light text-start mb-4 pt-2 pb-0 px-4">
    <p>
    <strong><%= comment.username %></strong>: <%= comment.body %>
    <%= link_to '[X]', [comment.post, comment],
      method: :delete,
      data: { confirm: 'Are you sure?'} %>
    </p>
  </div>
<% end  %>
